.month {
	width: 50%;
	max-width: 38rem;
}

.month .title {
	text-align: center;
	margin: 0 0 2.4rem 0;
}

@media screen and (max-width: 767px) {

	.month {
		width: 100%;
	}

	.month .title {
		text-align: center;
		margin: 1.6rem 0;
	}

	.month:first-child .title {
		margin-top: 0;
	}

}

.month table {
	margin: unset;
	margin-left: -0.2rem;
	width: 100%;
	border: unset;
	border-collapse: unset;
	border-radius: unset;
}

.month th {
	text-align: center !important;
	border: 0 !important;
	float: left;
	width: 14.28% !important;
	line-height: unset !important;
	padding: unset !important;
	border-bottom: 0.8rem solid #aaa !important;
}

.month th:first-child {
	width: calc(14.28% - 0.4rem) !important;
	margin-left: 0.4rem;
}

.month td {
	position: relative;
	width: 14.28%;
	padding: 0 !important;
	height: 0;
	float: left;
	border: unset !important;
	padding-bottom: 14.28% !important;
	line-height: unset !important;
}

.month .date {
	position: absolute;
	background-color: #eee;
	width: calc(100% - 0.4rem);
	height: calc(100% - 0.4rem);
	margin: 0.4rem;
}

.month .number {
	margin: 0;
	padding: 0.4rem 0 0 0.9rem;
	line-height: 1;
	position: relative;
	z-index: 1;
	height: 100%;
}

.month .number .inner-weekday {
	display: block;
	height: 0;
	width: 0;
	overflow: hidden;
}

.month .number a {
	position: absolute;
	border: 0;
	top: 0;
	left: 0;
	padding: 0.3rem 0 0.7rem 0.9rem;
	color: #fff;
	background: #a81600;
	display: block;
	height: 100%;
	width: 100%;
}

.month p a:hover {
	color: #000;
}

.month .number a:hover,
.month .number a:focus {
	color: #fff !important;
	background: #000;
}

.month .events {
	display: block;
	position: absolute;
	margin-left: 0;
	padding: 0;
	z-index: 100000;
	min-width: 20rem;
	color: #111;
	background: #fff;
	border-left: 0.8rem solid #cb4d4d;
	top: 3.6rem;
	opacity: 0;
	height: 0;
	box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1);
	transition: height 0.2s ease, opacity 0.2s;
	overflow: hidden;
}

.month .open .events {
	opacity: 1;
	height: auto;
}

.month li.many {
	padding: 1.2rem 1.6rem 0 0.4rem;
	margin-left: 3rem;
}

.month li.many:last-child {
	padding-bottom: 1.2rem;
}

.month .single {
	padding: 1.2rem 1.6rem;
}

.month .events.rightAlign {
	right: 0;
	border-left: 0;
	border-right: 0.8rem solid #cb4d4d;
}

/* _Calendar no-js */

.no-js .month th,
.no-js .month td.has-no-events {
	display: none;
}

.no-js .month tr {
	display: flex;
	flex-direction: column;
}

.no-js .month td.has-events {
	width: 100%;
	height: auto;
	padding: 0 !important;
	margin-bottom: 2.8rem;
}

.no-js .month td.has-events .date {
	position: relative;
	width: auto;
	height: auto;
	margin: 0;
	background-color: transparent;
}

.no-js .month td.has-events .number {
	margin: 0 0 1.6rem;
	line-height: 1.5;
	position: relative;
	height: auto;
}

.no-js .month td.has-events .number a {
	position: relative;
	cursor: default;
	background: transparent;
	display: block;
	border: none;
	padding: 0;
	color: #111;
}

.no-js .month td.has-events .number a:hover,
.no-js .month td.has-events .number a:focus {
	color: #111 !important;
}

.no-js .month td.has-events .events {
	opacity: 1;
	height: auto;
	min-width: 100%;
	position: relative;
	top: 0;
	margin-bottom: 0;
}

.no-js .month .number .inner-weekday {
	display: inline;
}
